.navbar {
    background-color: #FCF7F8;
    border-bottom: 2px solid #5B616A;
}

.logo-name {
    margin-left: 15px;
    margin-top: 15px;
    font-family: 'Patrick Hand', cursive;
}

.logo {
    margin-left: 25px;
    font-size: 35pt; 
    color: Tomato;
}

.nav-logo {
    font-size: 17pt;
}

.custom-nav-link {
    display: block;
    font-family: 'Niramit', sans-serif;
}

.custom-nav-button {
    margin-right: 10px;
}

.custom-nav-button:hover {
    margin-right: 10px;
    color: #275DAD !important;
}