<div class="text-center container">
  <div class="form-signin">
    <span class="logo"><i class="fas fa-brain"></i></span>
    <h2 class="logo-name">trkr.</h2>
    <br>
    <div *ngIf="showErrorMessage" class="alert alert-danger" role="alert">Invalid Entry</div>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input [(ngModel)]="userName" type="email" id="inputEmail" class="form-control" placeholder="Email address" required >
    <label for="inputPassword" class="sr-only">Password</label>
    <input [(ngModel)]="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <br>
    <button class="btn btn-lg btn-primary btn-block" (click)="signIn()" >Sign in</button>
  </div>
</div>