.doctor-portal-container {
    background-color: #FCF7F8;
    border-radius: none;
}

.header-text {
    margin-left: 55px;
    margin-top: 25px;
    font-size: 40pt;
    text-decoration: underline;
}

.accordion-container {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #FCF7F8;
}

.card {
    background-color: #FCF7F8;
}

.card-header {
    background-color: #FCF7F8;
}

a {
    color: #000 !important;
}

.inner-detail-text {
    font-weight: 900;
}